<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomato_planet.backend.mapper.TopicMapper">

    <resultMap id="BaseResultMap" type="com.tomato_planet.backend.model.entity.Topic">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="topicTitle" column="topic_title" jdbcType="VARCHAR"/>
            <result property="topicContent" column="topic_content" jdbcType="VARCHAR"/>
            <result property="tag" column="tag" jdbcType="VARCHAR"/>
            <result property="imageUrl" column="image_url" jdbcType="VARCHAR"/>
            <result property="likeCount" column="like_count" jdbcType="BIGINT"/>
            <result property="collectCount" column="collect_count" jdbcType="BIGINT"/>
            <result property="commentCount" column="comment_count" jdbcType="BIGINT"/>
            <result property="topicCreateTime" column="topic_create_time" jdbcType="TIMESTAMP"/>
            <result property="topicUpdateTime" column="topic_update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,topic_title,
        topic_content,tag,image_url,
        like_count,collect_count,comment_count,
        topic_create_time,topic_update_time
    </sql>
</mapper>
